/* 程序饲养员 - Hamilton */
* {
    margin: 0;
    padding: 0;
}
body {
    color: rgb(63,63,63);
    background-color: white;
    line-height: 1.75; 
    font-family: 'Noto Sans SC', sans-serif;
}

p { 
    font-size: 14px;
	margin-bottom: 1.5em; 
	letter-spacing: 0.1em; 
    margin-left: 8px; 
    margin-right: 8px;
}

/* code {
	white-space: pre-wrap;
	font-size: 12.6px;
	color: rgb(221, 17, 68);
	background: rgba(27, 31, 35, 0.05);
	padding: 3px 5px;
	border-radius: 4px;
} */

h2 {
	text-align: center;
    font-family: 'Noto Serif SC', serif;
	font-size: 1.6em;
	font-weight: bold;
	display: table;
	margin: 4em auto 2em;
	padding-right: 0.6em;
	padding-left: 0.6em;
	background: dodgerblue; 
	color: white;
}

h3 {
    line-height: 1.2;
    font-size: 1.4em;
    font-weight: bold;
    /* font-family: 'Noto Serif SC', serif; */
    margin: 2em 8px 0.75em;
    padding-left: 8px;
    border-left: 3px solid dodgerblue;
    color: dodgerblue;
}

blockquote {
    font-size: 14px;
    background-color: rgb(247,247,247);
    color: rgba(63,63,63);
    margin: 2em 0;
    padding: 1em;
    border-left: 4px solid dodgerblue;
    /* border-radius: 4px; */
}
blockquote p {
    color: rgb(80,80,80);
}

ul {
    /* padding-left: 1em; */
    list-style: circle;
    color: rgb(80,80,80);
}
li {
    /* text-indent: -1em; */
    display: block;
    margin: 0.2em 8px;
}

strong {
    color: rgb(15,76,129);
    font-weight: bold;
}

/* code block */
pre {
    position: relative;
}
small {
    font-size: 12px;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.3);
    border-bottom-left-radius: 0.375em;
    color: white;
    padding: 4px 8px;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    right: 0;
}